
body{ 
    background-color: aquamarine;
}


.title{ text-transform: uppercase;
color: rebeccapurple;}

.wrapper{ 
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 400px;
    width: 1100px;
    margin:120px  auto ;
}
li{
    list-style-type: none;
}
li{
    width: 300px;
    height: 250px;
    
    text-align: center;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #box2{ font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}